{% extends 'app/base.html' %}
{% load static %}
{% block title %}italian{% endblock title %}
{% block main-content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">𝕮𝖆𝖋𝖊 𝖆𝖓𝖉 𝖗𝖊𝖘𝖙𝖆𝖚𝖗𝖊𝖓𝖙 𝕴𝖙𝖆𝖑𝖎𝖆𝖓 𝖘𝖕𝖊𝖈𝖎𝖆𝖑𝖘</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">ℑ𝔩 𝔪𝔦𝔤𝔩𝔦𝔬𝔯 𝔠𝔦𝔟𝔬 𝔦𝔱𝔞𝔩𝔦𝔞𝔫𝔬 𝔠𝔥𝔢 𝔰𝔦 𝔭𝔬𝔰𝔰𝔞 𝔪𝔞𝔦 𝔞𝔳𝔢𝔯𝔢 𝔮𝔲𝔦?.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img src="{% static 'app/images/italian/i4.jpg' %}" alt="" srcset="" class="img-fluid">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Risotto Alla Milanese</h3>
          <p class="leading-relaxed text-base">Brought to Sicily by the Moors in the thirteenth century, rice is mostly grown in the fertile lands of northern Italy’s Po Valley. 
            Carnaroli or Arborio rice is sautéed with onions in butter,
             then simmered in saffron-flavored broth and white wine, and topped with parmesan cheese.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img src="{% static 'app/images/italian/i2.jpg' %}" alt="" srcset="" class="img-fluid">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Polenta</h3>
          <p class="leading-relaxed text-base">Polenta is stone-ground corn that is whisked into boiling water or broth, usually in a copper pot, 
            until thick. A classic polenta has butter, black pepper, and parmesan mixed in.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img src="{% static 'app/images/italian/i1.jpg' %}" alt="" srcset="" class="img-fluid">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Lasagna</h3>
          <p class="leading-relaxed text-base">In this classic dish from Naples, lasagne noodles are layered with tomato or meat sauce, 
            and ricotta cheese, topped with mozzarella cheese and baked.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img src="{% static 'app/images/italian/i3.jpg' %}" alt="" srcset="" class="img-fluid">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Ravioli</h3>
          <p class="leading-relaxed text-base"> Ravioli is a type of pasta ripiena—stuffed pasta. They are square or round cuts of pasta wrapped around a savory filling, 
            like ricotta cheese with herbs, and served with sauce.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main-content %}