{% extends 'app/base.html' %}
{% load static %}
{% block title %}FOOD ITEM{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>FOOD ITEM: {{product.title}}</h2>
   <hr>
   <p>{{product.description}}</p> <br>
   <h4>RS. {{product.discounted_price}}<small class="fw-light text-decoration-line-through">RS. {{product.selling_price}}</small></h4> <br>
   <a href="{% url 'add-to-cart' %}" class="btn btn-primary shadow px-5 py-2">Add to Cart</a>
   <a href="{% url 'buy-now' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>XYZ OFFERS**</li>
    <li>XYZ OFFERS**</li>
    <li>XYZ OFFERS**</li>
    <li>XYZ</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}